h1{
    position: relative;
    left: 150px;
}

#moi{
    position: absolute;
    left: 380px;
    top: 85px;
}

#text{
    position: absolute;
}

#text2{
    position: absolute;
    float: left;
    top: 270px;
}

#text3{
    position: absolute;
    float: left;
    top: 310px;
}

#text4{
    position: absolute;
    float: left;
    top: 450px;
}

#training{
    position: absolute;
    float: left;
    top: 400px;
    text-decoration: underline;
}

.paragraph-group {
    margin-bottom: 15px; /* Espace entre les groupes de paragraphes */
}

.paragraph-group p {
    margin: 3px 0; /* Réduit l'espace entre les lignes de chaque paragraphe */
}