body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #000428, #004e92);
    color: #fff;
}

header {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #00ccff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}

.section {
    padding: 20px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #00ccff;
}

.galaxy-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.galaxy {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    flex: 1; /* Prend une largeur égale */
    margin: 0 10px; /* Espace entre les éléments */
}

.galaxy:hover {
    transform: scale(1.05);
}

.galaxy img {
    width: 100%;
    border-radius: 10px;
}

.info-box {
    margin-top: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    flex: 1; /* Prend une largeur égale */
    margin: 0 10px; /* Espace entre les éléments */
}

footer {
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
